<form method="post" action="{{ path('app_backend_maintenance_except_delete', {'id': maintenance_except.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maintenance_except.id) }}">
    <button class="btn btn-danger">Suprimer</button>
</form>
