<form method="post" action="{{ path('app_backend_fr_type_delete', {'id': fr_type.id}) }}" onsubmit="return confirm('Voulez-vous vriament supprimer ce type de rubrique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fr_type.id) }}">
    <button class="btn btn-danger mt-5">Supprimer</button>
</form>
