{% extends 'base.html.twig' %}

{% block title %}New EnInfo{% endblock %}

{% block body %}
    <h1>Create new EnInfo</h1>

    {{ include('backend_en_info/_form.html.twig') }}

    <a href="{{ path('app_backend_en_info_index') }}">back to list</a>
{% endblock %}
